.one{
    color:aliceblue;
    background-color: brown;
}
#two{
    color:blueviolet;
    background-color: aqua;
}
.three{
    font-size: 40px;
    
}
#two{
    color:black;
    background-color: aliceblue;
}